[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	forgeAuthor = group M8
	forgeCommitter = group M8
	forgeServerAsCommitter = group M8
	pushMerge = group M8
	label-Code-Review = -2..+2 group M8
	labelAs-Code-Review = -2..+2 group M8
	rebase = group M8
	removeReviewer = group M8
	submit = group M8
	submitAs = group M8
	viewDrafts = group M8
	editTopicName = group M8
	publishDrafts = group M8
	read = group M8
[receive]
	requireChangeId = false
